<div class="container">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="text-center bg-light" style="width:200px;">
        <h3>商品一覧</h3>
      </div>
    </div>
    <div class="col-md-1">
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
  <table class="table table-borderless mt-3">
    <thead>
      <tr>
        <th class="bg-light" style="width: 10%">商品ID</th>
        <th class="bg-light" style="width: 30%">商品名</th>
        <th class="bg-light" style="width: 15%">税抜価格</th>
        <th class="bg-light" style="width: 25%">ジャンル</th>
        <th class="bg-light" style="width: 20%">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.id %>
        </td>
        <td>
          <%= link_to admin_item_path(item.id) do %>
            <span class="text-dark"><%= item.name %></span>
          <% end %>
        </td>
        <td>
          <%= item.price %>
        </td>
        <td>
          <%= item.genre.name %>
        </td>
        <td>
          <% if item.is_active %>
            <label>販売中</label>
          <% else %>
            <label>販売停止中</label>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @items %>
  </div>
</div>


