<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="text-center m-4 bg-light" style="width:200px;">
      <h3>商品詳細</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <%= image_tag @item.get_image(300,200) %>
    </div>
    <table class="table table-borderless col-md-7">
      <tr>
        <th style="width: 20%">商品名</th>
        <td style="width: 60%"><%= @item.name %></td>
      </tr>
      <tr>
        <th style="width: 20%">商品説明</th>
        <td style="width: 60%"><%= @item.introduction %></td>
      </tr>
      <tr>
        <th style="width: 20%">ジャンル</th>
        <td style="width: 60%"><%= @item.genre.name %></td>
      </tr>
      <tr>
        <th style="width: 20%">税込価格<br>(税抜価格)</th>
        <td style="width: 60%">
          <%= (@item.price * 1.1).floor %>
          (<%= @item.price %>)円
        </td>
      </tr>
      <tr>
        <th style="width: 20%">販売ステータス</th>
        <td style="width: 60%">
          <% if @item.is_active %>
            <label>販売中</label>
          <% else %>
            <label>販売停止中</label>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="row mt-3">
    <div class="col-md-11">
      <div class="text-center">
        <%= link_to "編集する",edit_admin_item_path(@item.id), class:"btn btn-success"%>
      </div>
    </div>
  </div>
</div>


