<div class="container">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="text-center m-3 bg-light" style="width:200px;">
      <h3>管理者ログイン</h3>
    </div>
  </div>
  <%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-md-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"sample@example.com",:size => "50*50" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <%= f.label :パスワード %>
    </div>
    <div class="col-md-6">
      <%= f.password_field :password, autocomplete: "current-password",:size => "50*50" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-6">
      <%= f.submit "ログイン",class:"btn btn-primary" %>
    </div>
  </div>
  <% end %>
  <%= render "admin/shared/links" %>
</div>

