<div class="container px-5 mt-5 px-sm-0">
  <div class="row mt-3">
    <%= render 'genre',genres:@genres %>
    <div class="col-md-7">
      <div class="card bg-dark text-white">
        <svg class="bd-placeholder-img bd-placeholder-img-lg card-img" width="100%" height="270" xmlns="/nagano_cake/app/assets/images/default-image.jpg" ></svg>
        <div class="card-img-overlay">
          <p class="card-text">ようこそ、ながのCAKEへ！</p>
          <p class="card-text">このサイトは、ケーキ販売のECサイトになります。</p>
          <p class="card-text">会員でない方も商品の閲覧はできますが、</p>
          <p class="card-text">購入には会員登録が必要になります。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <h3>新着商品</h3>
      <div class="card-deck">
        <% @items.each do |item| %>
          <div class="card w-50 mt-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(100,200),:width => '100%', :height => '130', class:"card_img_top" %>
              <div class="card-body">
                <p class="card-title text-dark">
                  <%= item.name %>
                </p>
                <p class="cart-title text-dark">
                  ¥<%= item.price %>
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="float-right">
        <%= link_to "全ての商品を見る" ,items_path %>
      </div>
    </div>
  </div>
</div>