<div class="container">
  <div class="row">
    <div class="text-center m-5 bg-light" style="width:200px;">
      <h3>会員一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <table class="table col-md-8">
      <thead>
        <tr>
          <th class="bg-light" style="width: 15%">会員ID</th>
          <th class="bg-light" style="width: 25%">氏名</th>
          <th class="bg-light" style="width: 35%">メールアドレス</th>
          <th class="bg-light" style="width: 25%">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <%= link_to admin_customer_path(customer.id) do %>
                <span class="text-dark"><%= customer.last_name %></span>
                <span class="text-dark"><%= customer.first_name %></span>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted %>
                <label>退会</label>
              <% else %>
                <label>有効</label>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center ">
    <%= paginate @customers %>
  </div>
</div>

