<h2>ジャンル一覧・追加</h2>

<%= form_with model: @genres,url: admin_genres_path,method: :post do |f| %>
  <%= f.label :"ジャンル名" %>
  <%= f.text_field :name ,placeholder:"ジャンル名" %>
  <%= f.submit "新規登録" ,class:"btn btn-success" %>
<% end %>

<div>
  <table>
    <thead>
      <tr>
        <th>ジャンル</th>
      </tr>
    </thead>
    <tbody>
    <% @genre.each do |genre| %>
      <tr>
        <th>
          <%= genre.name %>
        </th>
        <th>
          <%= link_to "編集する",edit_admin_genre_path(genre.id),class:"btn btn btn-success" %>
        </th>
      </tr>
    <% end %>
    </tbody>
  </table>
  
</div>
  
  