<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="text-center m-4 bg-light" style="width:200px;">
      <h3>注文履歴詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <h6>注文情報</h6>
      <table class="table table-bordered">
          <tr>
            <th class="bg-light" style="width: 20%">注文日</th>
            <td style="width: 80%"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th class="bg-light" style="width: 20%">配送先</th>
            <td style="width: 80%">
              〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <th class="bg-light" style="width: 20%">支払方法</th>
            <td style="width: 80%"><%= @order.payment_method_i18n %></td>
            </tr>
          <tr>
            <th class="bg-light" style="width: 20%">ステータス</th>
            <td style="width: 80%"><%= @order.order_status %></td>
          </tr>
      </table>
    </div>
    <div class="col-md-3">
      <h6>請求情報</h6>
      <table class="table table-bordered">
        <tr>
          <th class="bg-light" style="width: 60%">商品合計</th>
          <td style="width: 40%"><%= @order.total_payment - @order.postage %></td>
        </tr>
        <tr>
          <th class="bg-light" style="width: 60%">配送料</th>
          <td style="width: 40%"><%= @order.postage %></td>
        </tr>
        <tr>
          <th class="bg-light" style="width: 60%">ご請求額</th>
          <td style="width: 40%"><%= @order.total_payment %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h6>注文内容</h6>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="bg-light" style="width: 60%">商品</th>
            <th class="bg-light" style="width: 20%">単価(税込)</th>
            <th class="bg-light" style="width: 10%">個数</th>
            <th class="bg-light" style="width: 10%">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.subtotal %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

