<div class="container px-5 mt-5 px-sm-0">
  <div class="row m-3">
    <%= render 'public/homes/genre',genres:@genres %>
    <div class="col-md-9">
      <h3>商品一覧<span class="h5">(全<%= @items.count %>件)</span></h3>
      <div class="card-group">
        <% @items.each do |item| %>
          <div class="card m-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(100,100), class:"card-img-top"; %>
              <div class="card-body">
                <div class="card-title">
                  <%= item.name %>
                </div>
                <div class="card-title">
                  ¥<%= item.price %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <%= paginate @items %>  
    </div>
  </div>
</div>

