<%= render 'public/homes/genre',genres:@genres %>

<h3><%= @genre.name %>一覧</h3>
<h6>(全<%= @items.count %>件)</h6>

<div>
  <% @items.each do |item| %>
    <div>
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(100,100) %>
        <%= item.name %>
        ¥<%= item.price %>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @items %>