<%= render 'public/homes/genre',genres:@genres %>

<div>
  <%= image_tag @item.get_image(100,100) %>
</div>
<div>
  <%= @item.name %>
</div>
<div>
  <%= @item.introduction %>
</div>
<div>
  ￥<%= @item.with_tax_price %>
  <h7>(税込)</h7>
</div>
<div>
  <%#= @items.select :amount,*[1..10] %>
</div>
<div>
  <%= link_to "カートに入れる",cart_items_path %>
</div>
